{% extends 'base.html' %}

{% block main %}


<form action="{% url 'vote:detail' question.id %}" method="post">
    {% csrf_token %}
    <h3 class="text-center">{{ question.title }}</h3>
    {% if question.choose == 'choose_vote' %}
        <ul>
        {% for choice in question.choice_set.all %}
            <label><input type="checkbox" name="choice" value="{{ choice.id }}" id="choice{{ forloop.counter }}">{{ choice.choice_text }}</label>
            <br>
        {% endfor %}
            <button type="submit" class="btn btn-default">确认投票</button>
        </ul>
    {% elif question.choose == 'choose_qa' %}
        {% for choice in question.choice_set.all %}
            <p>{{ choice.choice_text }}</p>
            <input type="text" name="choice" value="{{ choice.id }}" id="choice{{ forloop.counter }}" style="display:none">
            <input type="text" name="{{ choice.id }}" placeholder="请输入">
            <br>
        {% endfor %}
        <button type="submit" class="btn btn-default">确认投票</button>
    {% endif %}
</form>

{% endblock %}