{% extends 'base.html' %}

{% block main %}


<form action="{% url 'vote:detail' question.id %}" method="post">
    {% csrf_token %}
    <h3 class="text-center">{{ question.title }}</h3>
    <ul>
    {% for choice in question.choice_set.all %}
        <label><input type="checkbox" name="choice" value="{{ choice.id }}" id="choice{{ forloop.counter }}">{{ choice.choice_text }}</label>
        <br>
    {% endfor %}
        <button type="submit" class="btn btn-default">确认投票</button>
    </ul>
</form>

{% endblock %}