{% extends 'base.html' %}
{% load staticfiles %}

{% block main %}
{% if versionList %}
<table class="table table-striped">
  <caption class="h4 text-center">回归版本列表</caption>
  <thead>
    <tr>
      <th class="text-center">版本</th>
      <th class="text-center">值周人</th>
      <th class="text-center">备注</th>
    </tr>
  </thead>
  <tbody>
    {% for version in versionList %}
    <tr>
      <td class="text-center" width="34%"><a href="{{ version.get_recent_version }}" style="text-decoration:none">{{ version.version|date:"Y-m-d" }}</a></td>
      <td class="text-center" width="33%">{{ version.leader }}</td>
      <td class="text-center" width="33%">{{ version.remark }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<nav aria-label="Page navigation" class="text-center">
    <ul class="pagination">
        {% if customer.has_previous %}
        <li>
            <a href="?page={{ customer.previous_page_number }}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        {% endif %}

        {% for pg in customer.page_range %}
        {% if customer.number == pg %}
        <li class="active"><a href="?page={{ pg }}">{{ pg }}</a> </li>
        {% else %}
        <li><a href="?page={{ pg }}">{{ pg }}</a> </li>
        {% endif %}
        {% endfor %}

        {% if customer.has_next %}
        <li>
            <a href="?page={{ customer.next_page_number }}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
        {% endif %}
    </ul>
</nav>


{% else %}
<p class="text-center">还没有回归列表，联系管理员添加Orz</p>
{% endif %}
{% endblock %}
