{% extends 'base.html' %}

{% block title %}<title>首页</title>{% endblock %}

{% block webname %}
<h1 class="navbar-brand" style="position:relative;bottom:3px"><a href="{% url 'index' %}" style="text-decoration:none"><font style="color:grey;font-size:180%">回归记录平台</font></a></h1>
{% endblock %}

{% block main %}
{% if versionList %}
<table class="table table-striped display" id="table_id_index">
  <caption class="h4 text-center">回归版本列表</caption>
  <thead>
    <tr>
      <th class="text-center">版本</th>
      <th class="text-center">值周人</th>
      <th class="text-center">备注</th>
      <th class="text-center">POPO提醒</th>
    </tr>
  </thead>
  <tbody>
    {% for version in versionList %}
    <tr>
      <td class="text-center" width="30%"><a href="{{ version.get_recent_version }}" style="text-decoration:none">{{ version.version|date:"Y-m-d" }}</a></td>
      <td class="text-center" width="25%">{{ version.leader }}</td>
      <td class="text-center" width="25%">{{ version.remark }}</td>
      <td class="text-center" width="20%"><a href="{% url 'regress:popo' version.id %}" id="popoSend"><img src="http://hz.oa.netease.com/oaOptimize/images/icons/popo.png"><!--我是占位的--></a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<!-- 这个分页好像暂时不需要了,DataTable有自带的
<nav aria-label="Page navigation" class="text-center">
    <ul class="pagination">
        {% if customer.has_previous %}
        <li>
            <a href="?page={{ customer.previous_page_number }}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        {% endif %}

        {% for pg in customer.page_range %}
        {% if customer.number == pg %}
        <li class="active"><a href="?page={{ pg }}">{{ pg }}</a> </li>
        {% else %}
        <li><a href="?page={{ pg }}">{{ pg }}</a> </li>
        {% endif %}
        {% endfor %}

        {% if customer.has_next %}
        <li>
            <a href="?page={{ customer.next_page_number }}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
        {% endif %}
    </ul>
</nav>-->


{% else %}
<p class="text-center">还没有回归列表，联系管理员添加Orz</p>
{% endif %}
{% endblock %}

{% block scripts %}
<script>
$(function(){
    $("#popoSend").bind('click', function () {
        if(confirm("确定要劳驾大元芳Sama嘛(*≧▽≦*)")==true){
            return true;
        }else{
            return false;
        };
    });
});

$('#table_id_index').DataTable({
    language:{
        'sSearch' : '搜索：',
    },
    bSort : false,
});
</script>
{% endblock %}
