{% extends 'base.html' %}

{% block main %}
    {% for post in post_list %}
        <article class="post post-{{ post.pk }}">
            <header class="entry-header">
                <h1 class="entry-title">
                    <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                </h1>
                <div class="entry-meta">
                    <span class="post-category">{{ post.category.name }}</span>
                    <span class="post-date"><time class="entry-date"
                                                              datetime="{{ post.created_time }}">{{ post.created_time }}</time></span>
                    <span class="post-author">{{ post.author }}</span>
                    <span class="comments-link">{{ post.comment_set.count }} 评论</span>
                    <!--<span class="views-count">588 阅读</span>-->
                </div>
            </header>
            <!--<div class="entry-content clearfix">
                <p>{{ post.excerpt }}</p>
                <div class="read-more cl-effect-14">
                    <a href="{{ post.get_absolute_url }}" class="more-link">继续阅读 <span class="meta-nav">→</span></a>
                </div>
            </div>-->
        </article>
    {% empty %}
        <div class="no-post">暂时还没有发布的文章！</div>
    {% endfor %}
    
    {# 页码 #}
    <nav aria-label="Page navigation" style="margin-left: 30px;">
        <ul class="pagination">
            {% if page.has_previous %}
            <li>
                <a href="?page={{ page.previous_page_number }}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% endif %}

            {% for pg in page.paginator.page_range %}
            {% if page.number == pg %}
            <li class="active"><a href="?page={{ pg }}">{{ pg }}</a> </li>
            {% else %}
            <li><a href="?page={{ pg }}">{{ pg }}</a> </li>
            {% endif %}
            {% endfor %}

            {% if page.has_next %}
            <li>
                <a href="?page={{ page.next_page_number }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            {% endif %}
        </ul>
    </nav>

{% endblock main %}
