{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}主页{% endblock %}

{% block page_content %}

<div class="page-header">

        <div class="col-lg-3 pull-right col-sm-5 col-md-4 col-xs-6">
                <form class="input-group" method="post" action="{{ url_for('auth.query') }}">
                    <input type="text" class="form-control" id="user-input" name="userInput">
                    <span class="input-group-btn">
                        <button class="btn btn-default btn-query" type="submit"><a style="text-decoration:none"> 查询</a></button>
                    </span>
                </form><!-- /input-group -->
        </div><!-- /.col-lg-6 -->

    <h3>Hello,
        {% if current_user.is_authenticated %}
        {{ current_user.username }}
        {% else %}
        Stranger
        {% endif %}!
    </h3>

</div>


{# 主体渲染模板 #}
{% if current_user.is_shakboo() %}
<button class="btn btn-primary" data-toggle="modal" data-target="#addGM">添加指令</button>
<br>
<div class="modal fade" id="addGM" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div style="margin:50px">
                {{ wtf.quick_form(form) }}
            </div>
        </div>
    </div>
</div>
{% endif %}
<br>

<div class="posts">
    {% for post in posts %}
    <form class="post" method="post" action="{{ url_for('main.index') }}">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title gm-exist">{{ post.gm }}</h3>
                <input name="for_query" style="display:none" value="{{ post.gm }}">
            </div>
            <div class="panel-body info-exist">{{ post.info }}</div>
        </div>
        {% if current_user.is_shakboo() %}
            <button class="btn btn-danger btn-query" type="submit" name="delete"><a style="text-decoration:none"><font style="color:white"> 删除</font></a></button>
        {% endif %}
    </form>
        {% if current_user.is_shakboo() %}
            <br>
        {% endif %}
    {% endfor %}
</div>

<!--分页导航-->
<ul class="pagination center-block" style="width:200px">
    <li>
        <a href="{% if pagination.has_prev %}{{url_for('.index',page=pagination.page-1)}}{% else %}#{% endif %}" >«</a>
    </li>
        {% for p in pagination.iter_pages() %}
            <li>
            <a href="{{ url_for('.index',page=p)}}">{{p}}</a>
            </li>
        {% endfor %}
    <li>
        <a href="{%if pagination.has_next %}{{url_for('.index',page=pagination.page+1)}}{% else %}#{% endif %}" >»</a>
    </li>
</ul>

{% endblock %}

