{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}<title>{{ versionNow.version|date:"Y-m-d" }}回归详情</title>{% endblock %}

{% block webname %}
<h1 class="navbar-brand" style="position:relative;bottom:3px"><a href="{% url 'index' %}" style="text-decoration:none"><font style="color:grey;font-size:180%">回归记录平台</font></a></h1>
{% endblock %}

{% block main %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-info alert dimissable">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  {{ message }}
</div>
{% endfor %}
{% endif %}
{% if contextDict %}
<table class="table table-striped display" id="table_id_detail">
  <caption class="h4 text-center">{{ versionNow.version|date:"Y-m-d" }}版本</caption>
  <thead>
    <tr>
      <th class="text-center">编号</th>
      <th class="text-center">第几次回归</th>
      <th class="text-center">范围</th>
      <th class="text-center not-center">内容</th>
      <th class="text-center">补充</th>
      <th class="text-center">状态</th>
      <th class="text-center">确认人</th>
      <th class="text-center">参与者</th>
    </tr>
  </thead>
  <tbody>
    {% for context,hasparty in contextDict %}
    <tr>
      <td class="text-center" width="8%">{{ forloop.counter }}</td>
      <td class="text-center" width="10%">{{ context.count }}</td>
      <td class="text-center" width="10%">{{ context.rangen }}</td>
      <td class="not-center" width="35%"><pre>{{ context.title }}</pre></td>
      <td class="text-center" width="10%">
        <a href="#" data-toggle="modal" data-target="#detail{{ forloop.counter }}"><span class="glyphicon glyphicon-search"></span></a>
      </td>
      {% if context.status %}
      <td class="text-center" width="10%">已结束</td>
      {% else %}
      <td class="text-center" width="10%">进行中</td>
      {% endif %}
      {% if context.handler %}
      <td class="text-center" width="10%">{{ context.handler }}</td>
      {% else %}
      <td class="text-center forAlert" width="10%"><a href="{{ context.get_recent_id }}" class="btn btn-warning">确认</a></td>
      {% endif %}
      {% if hasparty or context.status %}
      <td class="text-center" width="10%"><span class="glyphicon glyphicon-user" data-toggle="tooltip" data-placement="top" title="{{ context.participant }}"></td>
      {% else %}
      <td class="text-center" width="10%"><a href="{{ context.get_recent_id_party }}" class="btn btn-default">参与</a></td>
      {% endif %}
    </tr>
    <div class="modal fade" id="detail{{ forloop.counter }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">补充内容</h4>
          </div>
          {% if context.detail %}
          <div class="modal-body"><pre>{{ context.detail }}</pre></div>
          {% else %}
          <div class="modal-body">没有补充</div>
          {% endif %}
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p class=text-center>该版本还没有回归内容，请联系管理员添加Orz</p>
{% endif %}

{% endblock %}

{% block scripts %}
<script>
$(function(){
    $(".forAlert").bind('click', function () {
        if(confirm("确认要接锅吗(╯‵□′)╯︵┻━┻")==true){
            return true;
        }else{
            return false;
        };
    });
    $("[data-toggle='tooltip']").tooltip();
});


$('#table_id_detail').DataTable({
    language: {
      'sSearch' : '搜索：',
    },
    paging : false,
    bSort : false,
})
</script>
{% endblock %}
