{% load staticfiles %}
{% load base_tags %}
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>首页</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse" style="position:relative;top:15px">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <h1 class="navbar-brand" style="position:relative;bottom:3px"><a href="{% url 'index' %}" style="text-decoration:none"><font style="color:grey;font-size:180%">投票平台</font></a></h1>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav navbar-right navbar-brand">
                <li><a href="{% url 'logout' %}?next={{ request.path }}"><span class="glyphicon glyphicon-hand-right"></span> 注销登录</a></li>
                <li><a href="{% url 'password_change' %}?next={{ request.path }}"><span class="glyphicon glyphicon-hand-right"></span> 修改密码</a></li>
            </ul>
        </div>
    </div>
</div>

{% if user.is_authenticated %}
<p class="h4 text-center">你已登录，欢迎你：<a href="#" style="text-decoration:none">{{ user.username }}</a></p>

<ul class="nav nav-tabs nav-justified">
  <li class="unit text-center"><a href="{% url 'index' %}">首页</a></li>
  <li class="unit text-center"><a href="#" data-toggle="modal" data-target="#do_vote">发起投票</a></li>
  <li class="unit text-center"><a href="{% url 'vote:all' %}">全部投票</a></li>
</ul>


<!-- 模态框（Modal） -->
<div class="modal fade" id="do_vote" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">填写投票内容</h4>
            </div>
            <form class="form" action="{% url 'index' %}" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <br>
            <div class="input-group">
                <span class="input-group-addon">问题</span>
                <input type="text" class="form-control" placeholder="请输入问题内容" name="Choice_text">
            </div>
                <input type="hidden" name="count" value="" id="addTarget">
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" id="addChoice">增加问题</button>
                    <button type="button" class="btn btn-warning" data-dismiss="modal">关闭</button>
                    <button type="submit" class="btn btn-primary">提交</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

{% else %}
    <p class="h4 text-center">你还没有登录，请
        <button class="btn btn-default"><a href="{% url 'login' %}?next={{ request.path }}">登录</a></button>
        <input type="hidden" name="next" value="{{ next }}"/>
        或者
        <button class="btn btn-default"><a href="{% url 'vote:register' %}">注册</a></button>
    </p>
{% endif %}

{% block main %}{% endblock main %}


<script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="{% static "scripts/add_choice.js" %}" type="text/javascript"></script>


</body>
</html>