
<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>首页</title>
    <link rel="stylesheet" href="https://unpkg.com/mobi.css/dist/mobi.min.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
<div class="flex-center">
    <div class="container">
        <div>
            <h1 class="logo"><a href="{% url 'index' %}" style="text-decoration:none">H35投票</a></h1>
            <br>
            {% if user.is_authenticated %}
            <p class="h4">你已登录，欢迎你：<a href="#">{{ user.username }}</a></p>
            <button class="btn btn-default col-lg-2"><a href="{% url 'logout' %}?next={{ request.path }}">注销登录</a></button>
            <button class="btn btn-default col-lg-2"><a href="{% url 'password_change' %}?next={{ request.path }}">修改密码</a></button>
            <ul class="nav nav-pills flex-center">
              <li class="unit text-center"><a href="{% url 'index' %}">首页</a></li>
              <li class="unit text-center"><a href="#">发起投票</a></li>
              <li class="unit text-center"><a href="#">参与投票</a></li>
            </ul>

            {% else %}
                <p>你还没有登录，请
                    <button class="btn btn-default"><a href="{% url 'login' %}?next={{ request.path }}">登录</a></button>
                    <input type="hidden" name="next" value="{{ next }}"/>
                    或者
                    <button class="btn btn-default"><a href="{% url 'vote:register' %}">注册</a></button>
                </p>
            {% endif %}
        </div>
    </div>
</div>

<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</body>
</html>